.modal__confirm {
  border-radius: 20px;
}
.modal__confirm-content {
  max-width: 768px;
  margin: auto;
  border-radius: 20px;
}
.modal__confirm-footer {
  border-top: none;
}
.modal__confirm-close, .modal__confirm-apply {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .modal__confirm-close, .modal__confirm-apply {
    font-size: 30px;
  }
}
.modal__confirm-close img, .modal__confirm-apply img {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1400px) {
  .modal__confirm-close img, .modal__confirm-apply img {
    width: 48px;
    height: 48px;
  }
}
.modal__confirm-close {
  color: #E31E24;
}
.modal__confirm-apply {
  color: #1560BD;
}