.splide--gallery {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
}
.splide--gallery .splide__arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
.splide--gallery .splide__arrow {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../img/arrow-active.svg) no-repeat;
  background-position: bottom;
  border: 0;
}
.splide--gallery .splide__arrow--prev {
  left: 60px;
  transform: translateY(-50%) rotateZ(-90deg);
}
.splide--gallery .splide__arrow--next {
  right: 60px;
  transform: translateY(-50%) rotate(90deg);
}
.splide--gallery .splide__arrow[disabled] {
  background-image: url(../../img/arrow-disabled.svg);
}
.splide--gallery .splide__slide {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}
@media screen and (max-width: 1400px) {
  .splide--gallery .splide__slide {
    border-radius: 10px;
  }
}
.splide--gallery .splide__slide img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 220px;
  max-height: 195px;
}
.splide--gallery .splide__arrows:has(.splide__arrow--prev[disabled] ~ .splide__arrow--next[disabled]) {
  display: none;
}

.splide--users-feedback .splide__arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
.splide--users-feedback .splide__arrow {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../img/arrow-active.svg) no-repeat;
  background-position: bottom;
  border: 0;
}
.splide--users-feedback .splide__arrow--prev {
  left: 60px;
  transform: translateY(-50%) rotateZ(-90deg);
}
.splide--users-feedback .splide__arrow--next {
  right: 60px;
  transform: translateY(-50%) rotate(90deg);
}
.splide--users-feedback .splide__arrow[disabled] {
  background-image: url(../../img/arrow-disabled.svg);
}
.splide--users-feedback .splide__track {
  padding-top: 10px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1400px) {
  .splide--users-feedback .splide__track {
    padding-bottom: 22px;
  }
}
.splide--users-feedback .splide__arrows:has(.splide__arrow--prev[disabled] ~ .splide__arrow--next[disabled]) {
  display: none;
}

.splide--vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.splide--vertical .splide__arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 1400px) {
  .splide--vertical .splide__arrows {
    margin-left: 6px;
  }
}
.splide--vertical .splide__arrow {
  position: absolute;
  left: 50%;
  background: url(../../img/arrow-active.svg) no-repeat;
  border: 0;
}
@media screen and (max-width: 1400px) {
  .splide--vertical .splide__arrow {
    width: 28px;
    height: 28px;
    background-size: 100%;
  }
}
.splide--vertical .splide__arrow--prev {
  top: 0;
  transform: translateX(-50%);
}
.splide--vertical .splide__arrow--next {
  bottom: 0;
  transform: translateX(-50%) rotate(180deg);
}
.splide--vertical .splide__arrow[disabled] {
  background-image: url(../../img/arrow-disabled.svg);
}
.splide--vertical .splide__arrows:has(.splide__arrow--prev[disabled] ~ .splide__arrow--next[disabled]) {
  display: none;
}/*# sourceMappingURL=custom.css.map */