{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if request.path == '/manufacturer/create/' %}
        {{ block.super }} - Создание Производителя
    {% else %}
        {{ block.super }} - Производитель {{ manufacturer.name }}
    {% endif %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css"/>
{% endblock %}

{% block content %}
    <main class="manufacturer-info">

        <section class="manufacturer-info__title">
            <div class="container container--bc">
                <div class="page-title d-flex flex-wrap align-items-center col-xxl-10 offset-xxl-1">
                    <div class="col-1 col-xxl-12 order-xxl-1">
                        <a href="{% url 'profile:profile_detail' %}"
                           class="btn__svg-confirm text--15-30 fw-600 main-color hover-red d-flex align-items-center justify-content-start justify-content-xxl-center m-auto">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="vuesax/outline/arrow-left">
                                    <g id="arrow-left">
                                        <path id="Vector"
                                              d="M11.9633 23.5254C11.7258 23.5254 11.4883 23.4379 11.3008 23.2504L3.71328 15.6629C3.35078 15.3004 3.35078 14.7004 3.71328 14.3379L11.3008 6.75039C11.6633 6.38789 12.2633 6.38789 12.6258 6.75039C12.9883 7.11289 12.9883 7.71289 12.6258 8.07539L5.70078 15.0004L12.6258 21.9254C12.9883 22.2879 12.9883 22.8879 12.6258 23.2504C12.4508 23.4379 12.2008 23.5254 11.9633 23.5254Z"
                                              fill="#1560BD"></path>
                                        <path id="Vector_2"
                                              d="M25.6234 15.9375H4.58594C4.07344 15.9375 3.64844 15.5125 3.64844 15C3.64844 14.4875 4.07344 14.0625 4.58594 14.0625H25.6234C26.1359 14.0625 26.5609 14.4875 26.5609 15C26.5609 15.5125 26.1359 15.9375 25.6234 15.9375Z"
                                              fill="#1560BD"></path>
                                    </g>
                                </g>
                            </svg>
                            <span class="text-decoration-none text-uppercase d-none d-xxl-block ms-2">Назад</span>
                        </a>
                    </div>
                    <div class="col text-center col-xxl-12">
                        <h1 class="title--20-36">Информация <br/>о производителе</h1>
                    </div>
                    <div class="col-1 d-xxl-none"></div>
                </div>
            </div>
        </section>

        <section class="manufacturer-info__details">
            <div class="container container--bc">
                <form
                    method="POST"
                    {% if request.path == '/manufacturer/create/' %}
                        action="{% url 'manufacturer:manufacturer_create' %}"
                    {% else %}
                        action="{% url 'manufacturer:change_manufacturer' %}"
                    {% endif %}
                    class="profile profile__manufacturer-info col-12 offset-xxl-1 col-xxl-10"
                    id="manufacturer__form"
                    enctype="multipart/form-data"
                >
                    {% csrf_token %}
                    <div class="input name input--general profile__manufacturer-info_input">
                        <label for="manufacturer-info-name" class="label--light label--profile ">
                            Название компании
                        </label>
                        <input class="" id="manufacturer-info-name" value="{{ form.instance.name }}" type="text"
                               name="name" required/>
                    </div>

                    <div
                        class="input input--image image profile__manufacturer-info_input profile__manufacturer-info_image"
                        type="button"
                    >
                        <label for="manufacturer-info-image" class="label label--light label--profile">
                            Логотип компании
                        </label>
                        <img
                            id="logo-block"
                            src="
                            {% if form.logo.value %}
                                {% get_media_prefix %}{{form.logo.value}}
                            {% else %}
                                {% static 'img/gallery-add.svg' %}
                            {% endif %}"
                            alt="gallery-add logo"
                            class="position-absolute top-50 start-50 translate-middle"
                        />
                        <input
                            type="file"
                            id="manufacturer-info-image"
                            class="file-input"
                            onchange="handleFileSelected(event)"
                            name="{{form.logo.name}}"
                        />
                    </div>

                    <div
                        class="country input input--general select__custom profile__manufacturer-info_input profile__manufacturer-info_country"
                        data-select-id="select-manufacturer-info-country"
                        id="manufacturer-info-country"
                    >
                        <label for="manufacturer-info-country" class="label--light label--profile">
                            Страна (необязательно)
                        </label>

                        <select name="country">
                            {% for country in form.country %}
                                <div class="column">
                                    <div class="option">
                                        {{country}}
                                    </div>
                                </div>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="select__custom input input--general town profile__manufacturer-info_input profile__manufacturer-info_town"
                         data-select-id="select-manufacturer-info-town" id="manufacturer-info-town">
                        <label for="manufacturer-info-town" class="label--light label--profile">
                            Город (необязательно)
                        </label>

                        {{form.city}}
                    </div>

                    <div class="input input--general tel phone input--wrapper position-relative col-12 d-flex align-items-center profile__manufacturer-info_input">
                        <label for="profile__tel" class="label--light label--profile">
                            Телефон
                        </label>
                        <input class="profile__input profile__tel input--regular" id="profile__tel"
                               value="{{ form.instance.phone }}" name="phone" required/>
                        <img type="button" src="{% static '/img/add-circle.svg' %}" alt="logo image"
                             class="plus ms-2 ms-xxl-3 d-none"/>
                    </div>

                    <div class="input input--general email input--wrapper profile__manufacturer-info_input">
                        <label for="profile__email" class="label--light label--profile">
                            E-mail
                        </label>
                        <input class="profile__input profile__email input--regular" name="email" id="profile__email"
                               value="{{ form.instance.email }}" type="email" required/>
                        <img type="button" src="{% static '/img/add-circle.svg' %}" alt="logo image"
                             class="plus ms-2 ms-xxl-3 d-none"/>
                    </div>

                    <div class="input input--textarea description profile__manufacturer-info_input">
                        <label for="profile__description" class="label--light label--profile">
                            Краткое описание компании
                        </label>
                        <textarea class="profile__description profile__description textarea--regular"
                                  id="profile__description" rows="3"
                                  name="description"
                                  required>{{ form.instance.description|safe|escape|striptags }}</textarea>
                    </div>

                    <div class="input input--textarea history profile__manufacturer-info_input">
                        <label for="profile__history" class="label--light label--profile">
                            История компании
                        </label>
                        <textarea class="profile__description profile__history textarea--regular w-100 h-100 border-0"
                                  name="history"
                                  id="profile__history" rows="3" required>{{ form.instance.history|safe|escape|striptags }}</textarea>
                    </div>

                    <div class="input input--textarea principles profile__manufacturer-info_input">
                        <label for="profile__principles" class="label--light label--profile">
                            Принципы компании
                        </label>
                        <textarea
                                class="profile__description profile__principles textarea--regular w-100 h-100 border-0"
                                id="profile__principles" rows="3"
                                name="principle"
                                required>{{ form.instance.principle|safe|escape|striptags }}</textarea>
                    </div>
                </form>
            </div>
        </section>

        <section class="page__title">
            <div class="container container--bc">
                <div class="col-xxl-10 offset-xxl-1">

                    <div class="row my-3 my-xxl-4">
                        <div class="col-12 text-center d-flex justify-content-center align-items-center">
                            <h2 class="title--15-36">
                                Интернет магазины
                            </h2>
                        </div>
                    </div>
                    <div class="text--10-15 fw-600 dark-lighter text-decoration-none">
                        Добавьте ссылки на интернет магизины. Вы можете добавить до 7
                        ссылок на разные площадки. Название кнопки будет отображаться на
                        странице для всех пользователей.
                    </div>
                </div>
            </div>
        </section>

        <form id="form_open_manufacturer">
            <section class="shops">
                <div class="container container--bc">
                    <div class="col-xxl-10 offset-xxl-1">
                        <div class="shops__container" data-shops="shops-manufacturer-info-page">
                            {{manufacturer_links_formset.management_form}}
                            {% for form in manufacturer_links_formset %}
                                {{form.field.as_hidden}}
                                {{form.id}}
                                <div class="shops__item" data-link-id="{{forloop.counter0}}">
                                    <div class="input input--general shops__name">
                                    <label for="shops__name-input" class="label label--primary">Название кнопки</label>
                                    {{form.name}}
                                    </div>
                                    <div class="input input--general shops__url">
                                        <label for="shops__url-input" class="label label--primary"> URL </label>
                                        {{form.url}}
                                    </div>
                                    <i class="tag-close" data-link-id="{{forloop.counter0}}">
                                        <svg data-link-id="{{forloop.counter0}}" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 20C4.48372 20 0 15.5163 0 10C0 4.48372 4.48372 0 10 0C15.5163 0 20 4.48372 20 10C20 15.5163 15.5163 20 10 20Z" fill="#E31E24"/>
                                        <path d="M13.1289 7.86591L7.86671 13.1281C7.59702 13.3978 7.14974 13.3978 6.88005 13.1281C6.61036 12.8584 6.61036 12.4111 6.88005 12.1414L12.1422 6.87925C12.4119 6.60956 12.8592 6.60956 13.1289 6.87925C13.3986 7.14893 13.3986 7.59622 13.1289 7.86591Z" fill="#FAFAFA"/>
                                        <path d="M13.1289 13.1247C12.8592 13.3943 12.4119 13.3943 12.1422 13.1247L6.88005 7.86247C6.61036 7.59278 6.61036 7.1455 6.88005 6.87581C7.14974 6.60612 7.59702 6.60612 7.86671 6.87581L13.1289 12.138C13.3986 12.4077 13.3986 12.855 13.1289 13.1247Z" fill="#FAFAFA"/>
                                        </svg>
                                    </i>
                                </div>
                            {% endfor %}
                            <div class="shops__plus">
                                <svg role="button" class="banners__plus-image hover-red" viewBox="0 0 26 26" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" id="button-add-link">
                                    <path
                                            d="M12.9993 24.6452C6.57518 24.6452 1.35352 19.4235 1.35352 12.9993C1.35352 6.57518 6.57518 1.35352 12.9993 1.35352C19.4235 1.35352 24.6452 6.57518 24.6452 12.9993C24.6452 19.4235 19.4235 24.6452 12.9993 24.6452ZM12.9993 2.97852C7.47435 2.97852 2.97852 7.47435 2.97852 12.9993C2.97852 18.5243 7.47435 23.0202 12.9993 23.0202C18.5243 23.0202 23.0202 18.5243 23.0202 12.9993C23.0202 7.47435 18.5243 2.97852 12.9993 2.97852Z"
                                            fill="#1560BD"
                                    />
                                    <path
                                            d="M17.3327 13.8125H8.66602C8.22185 13.8125 7.85352 13.4442 7.85352 13C7.85352 12.5558 8.22185 12.1875 8.66602 12.1875H17.3327C17.7769 12.1875 18.1452 12.5558 18.1452 13C18.1452 13.4442 17.7769 13.8125 17.3327 13.8125Z"
                                            fill="#1560BD"
                                    />
                                    <path
                                            d="M13 18.1452C12.5558 18.1452 12.1875 17.7769 12.1875 17.3327V8.66602C12.1875 8.22185 12.5558 7.85352 13 7.85352C13.4442 7.85352 13.8125 8.22185 13.8125 8.66602V17.3327C13.8125 17.7769 13.4442 18.1452 13 18.1452Z"
                                            fill="#1560BD"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="banners">
                <div class="container container--bc">
                    <div class="banners__container col-xxl-10 offset-xxl-1 gx-0 ">
                        {{manufacturer_banner_formset.management_form}}
                        {% for form in manufacturer_banner_formset %}
                            {{form.field.as_hidden}}
                            {{form.id}}
                            <div class="banners__item" name="form-image" data-banner-id="{{forloop.counter0}}">
                                <div type="button" class="banners__image input--image">
                                    <label for="banners__image" class="label label--light label--profile">Баннер</label>
                                    <img
                                        alt="gallery-add logo"
                                        class="position-absolute top-50 start-50 translate-middle"
                                        name="banner-image"
                                        src="{% if form.banner.value %}{% get_media_prefix %}{{ form.banner.value }}{% else %}{% static 'img/gallery-add.svg' %}{% endif %}"
                                    />
                                    <input
                                        type="file"
                                        onchange="handleFileSelected(event)"                                        
                                        name="manufacturer_banners-{{forloop.counter0}}-banner"
                                        class="file-input"
                                    />
                                    <i class="tag-close" data-banner-id="{{forloop.counter0}}">
                                        <svg data-banner-id="{{forloop.counter0}}" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 20C4.48372 20 0 15.5163 0 10C0 4.48372 4.48372 0 10 0C15.5163 0 20 4.48372 20 10C20 15.5163 15.5163 20 10 20Z" fill="#E31E24"/>
                                            <path d="M13.1289 7.86591L7.86671 13.1281C7.59702 13.3978 7.14974 13.3978 6.88005 13.1281C6.61036 12.8584 6.61036 12.4111 6.88005 12.1414L12.1422 6.87925C12.4119 6.60956 12.8592 6.60956 13.1289 6.87925C13.3986 7.14893 13.3986 7.59622 13.1289 7.86591Z" fill="#FAFAFA"/>
                                            <path d="M13.1289 13.1247C12.8592 13.3943 12.4119 13.3943 12.1422 13.1247L6.88005 7.86247C6.61036 7.59278 6.61036 7.1455 6.88005 6.87581C7.14974 6.60612 7.59702 6.60612 7.86671 6.87581L13.1289 12.138C13.3986 12.4077 13.3986 12.855 13.1289 13.1247Z" fill="#FAFAFA"/>
                                        </svg>
                                    </i>
                                </div>
                    
                                <div class="input input--general banners__input">
                                    <label for="shops__name" class="label label--light label--profile">Ссылка к баннеру</label>
                                    {{form.url}}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="banners__plus">
                            <svg role="button" class="banners__plus-image hover-red" viewBox="0 0 26 26" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" id="button-add-banner">
                                <path
                                        d="M12.9993 24.6452C6.57518 24.6452 1.35352 19.4235 1.35352 12.9993C1.35352 6.57518 6.57518 1.35352 12.9993 1.35352C19.4235 1.35352 24.6452 6.57518 24.6452 12.9993C24.6452 19.4235 19.4235 24.6452 12.9993 24.6452ZM12.9993 2.97852C7.47435 2.97852 2.97852 7.47435 2.97852 12.9993C2.97852 18.5243 7.47435 23.0202 12.9993 23.0202C18.5243 23.0202 23.0202 18.5243 23.0202 12.9993C23.0202 7.47435 18.5243 2.97852 12.9993 2.97852Z"
                                        fill="#1560BD"
                                />
                                <path
                                        d="M17.3327 13.8125H8.66602C8.22185 13.8125 7.85352 13.4442 7.85352 13C7.85352 12.5558 8.22185 12.1875 8.66602 12.1875H17.3327C17.7769 12.1875 18.1452 12.5558 18.1452 13C18.1452 13.4442 17.7769 13.8125 17.3327 13.8125Z"
                                        fill="#1560BD"
                                />
                                <path
                                        d="M13 18.1452C12.5558 18.1452 12.1875 17.7769 12.1875 17.3327V8.66602C12.1875 8.22185 12.5558 7.85352 13 7.85352C13.4442 7.85352 13.8125 8.22185 13.8125 8.66602V17.3327C13.8125 17.7769 13.4442 18.1452 13 18.1452Z"
                                        fill="#1560BD"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        <section>
            <div class="container container--bc">
                <div class="col-12 col-xxl-10 offset-xxl-1 d-flex justify-content-center gx-0 gy-2 my-4">
                    <input
                        type="submit"
                        value="Сохранить"
                        class="btn btn--base"
                        onclick="form1_onsubmit(); submitForm();"
                    />
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra_js %}

    <script src="{% static "js/manufacturer/manufaturer-info.js" %}"></script>
    <script src="{% static "js/select-custom.js" %}"></script>
{#    <script src="{% static "js/shops.js" %}"></script>#}

    <script>
        function form1_onsubmit()
        {
            $('#manufacturer__form :input[isacopy]').remove();

            $('#form_open_manufacturer :input').not(':submit').clone().hide().attr('isacopy','y').appendTo('#manufacturer__form');

            return true;
        }

        function submitForm() {
            let form = document.getElementById('manufacturer__form');
            const isValid = validateForm(form);
            if (isValid) {
                form.submit();
            }
        }
    </script>
    <script>
        function validateForm(form) {
            let errors = [];
            // Name Company
            const companyName = form.querySelector('#manufacturer-info-name');
            if (companyName.value.length < 1) {
                errors.push(companyName);
            }

            // Email
            const email = form.querySelector('#profile__email');
            if (email.value.length < 1) {
                errors.push(email);
            }

            // Phone
            const phone = form.querySelector('#profile__tel');
            if (phone.value.length < 1) {
                errors.push(phone);
            }

            // Description
            const description = form.querySelector('#profile__description');
            if (description.value.length < 1) {
                errors.push(description);
            }

            // History
            const history = form.querySelector('#profile__history');
            if (history.value.length < 1) {
                errors.push(history);
            }

            // Principles
            const principles = form.querySelector('#profile__principles');
            if (principles.value.length < 1) {
                errors.push(principles);
            }

            if (errors.length > 0) {
                errors[0].focus();
            } else {
                return true;
            }
        }
    </script>
    <script>
    // Close Button
        function createInput(name, id) {
            let inputDelete = document.createElement("input");
            inputDelete.name = `${name}-${id}-DELETE`;
            inputDelete.value = "Delete";
            inputDelete.style.display = 'none';
            return inputDelete;
        }

        function closeBtnEvent(el, type) {
            el.addEventListener('click', (event) => {
                let form = document.getElementById('manufacturer__form');
                if (type === 'manufacturer_links') {
                    const linkId = el.dataset.linkId;
                    let linksItems = document.querySelector('.shops__container').querySelectorAll('.shops__item');
                    linksItems.forEach((el) => {
                        if (el.dataset.linkId === linkId) {
                            const inputDelete = createInput('manufacturer_links', linkId);
                            form.appendChild(inputDelete);

                            // Удаление Элемента
                            el.style.display = 'none';
                        }
                    })
                } else if (type === 'manufacturer_banners') {
                    const bannerId = el.dataset.bannerId;
                    let bannersItems = document.querySelector('.banners__container').querySelectorAll('.banners__item');

                    bannersItems.forEach((el) => {
                        if (el.dataset.bannerId === bannerId) {
                            const inputDelete = createInput('manufacturer_banners', bannerId);
                            form.appendChild(inputDelete);

                            // Удаление Элемента
                            el.style.display = 'none';
                        }
                    })
                }
            })
        }

        let linksItems = document.querySelector('.shops__container');
        let bannersItems = document.querySelector('.banners__container');
        const closeBtnsLinks = linksItems.querySelectorAll('.tag-close');
        const closeBtnsBanners = bannersItems.querySelectorAll('.tag-close');
        closeBtnsLinks.forEach((el) => {
            closeBtnEvent(el, 'manufacturer_links');
        })
        closeBtnsBanners.forEach((el) => {
            closeBtnEvent(el, 'manufacturer_banners');
        })

        // Add Banners and Links
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });

            // Tag Close
            let tagClose = newElement.find('.tag-close');
            let svgClose = tagClose.find('svg');
            if (type === 'manufacturer_links') {
                tagClose.attr('data-link-id', total);
                newElement.attr('data-link-id', total);
                svgClose.attr('data-link-id', total);
            } else if (type === 'manufacturer_banners') {
                tagClose.attr('data-banner-id', total);
                newElement.attr('data-banner-id', total);
                svgClose.attr('data-banner-id', total);
            }

            // Image
            if (type === 'manufacturer_banners') {
                let imgElem = newElement.find('img');
                imgElem.attr('src', '{% static 'img/gallery-add.svg' %}');
            }

            // Style
            if (type === 'manufacturer_links') {
                newElement.show();
            } else {
                newElement.css('display', 'flex');
            }

            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);

            closeBtnEvent(tagClose[0], type);
        }

        $('#button-add-banner').click(function() {
            cloneMore('div.banners__item:last', 'manufacturer_banners');
        });

        $('#button-add-link').click(function() {
            cloneMore('div.shops__item:last', 'manufacturer_links');
        });
    </script>
{% endblock %}
