{% load static %}
{% load main_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/splidejs/custom.css' %}" rel="stylesheet">
    <link href="{% static 'flags/sprite.css' %}" rel="stylesheet">
    <title>{% block title %}{% site_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}

</head>
<body>
{% include 'inc/header.html' %}

{% block content %}
{% endblock %}

{% include 'inc/footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>