{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Каталог - {{ category.name }}{% endblock %}

{% load catalog_tags %}
{% block content %}
    <main>
        <section class="category-page">
            <div class="container">
                <div class="category-page__bread bread">
                    <ul>
                        <li>
                            <a href="{% url 'catalog:catalog' %}">Каталог</a>
                        </li>
                        {% if category.parent and category.parent.parent %}
                            <li>
                                <span>
                                    <a href="{% url 'catalog:category' category.parent.parent.slug %}">
                                    {{ category.parent.parent.name }}
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="{% url 'catalog:sub_category' category.parent.parent.slug category.parent.slug %}">
                                    {{ category.parent.name }}
                                    </a>
                                </span>
                            </li>
                        {% else %}
                            <li>
                                <span>
                                    <a href="{% if category.parent %} {% url 'catalog:category' category.parent.slug %} {% endif %}">
                                        {{ category.parent.name }}
                                    </a>
                                </span>
                            </li>
                        {% endif %}
                        {% if category %}
                        <li>
                            <span>{{ category.name }}</span>
                        </li>
                        {% else %}
                        <li>
                            <span>Серия</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xxl-3 col-12">
                        <div class="filter__mobile mb-3">
                            <select class="filter__mobile select--regular" style="
                                font-size: 18px;
                                height: 42px;
                                pointer-events: none;
                                border-right: 16px solid transparent;
                              ">
                                <option value="1">Фильтр</option>
                            </select>
                            <div class="filter__mobile-btn"></div>
                        </div>
                        <div class="filter">
                            <form class="filter-form">
                                <input type="hidden" name="sort" class="filter-sort" value=""/>
                                <div class="filter-form__wrap">
                                    <div class="filter__item filter-catalog toggle">
                                        <div class="filter__item-title toggle-title">
                                            {% if category_brand %}
                                                {{ category_brand.name }}
                                            {% else %}
                                                {{ category.name }}
                                            {% endif %}
                                        </div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap">
                                                {% if category.children.all %}
                                                    {% if category.parent %}
                                                        {% for product in category.children.all %}
                                                            <span>
                                                                <a href="{% url 'catalog:sub_products' category.parent.slug category.slug product.slug %}">
                                                                    {{ product.name }}
                                                                </a>
                                                            </span>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for cat in category.children.all %}
                                                            <span>
                                                                <a href="{% url 'catalog:sub_category' category.slug cat.slug %}">
                                                                    {{ cat.name }}
                                                                </a>
                                                            </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="12"/>
                                        <div class="filter__item-title toggle-title">Регионы</div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="country">
                                                <div class="check filter__item-check">
                                                    <input type="checkbox" id="inp__check737" name="tag[12][]"
                                                           value="737" class="check-inp filter__item-check__inp"/>
                                                    <label for="inp__check737" class="check-label filter__item-check__label">
                                                        Азербайджан
                                                    </label>
                                                </div>
                                                <div class="check filter__item-check">
                                                    <input type="checkbox" id="inp__check755" name="tag[12][]" value="755"
                                                           class="check-inp filter__item-check__inp"/>
                                                    <label for="inp__check755" class="check-label filter__item-check__label">
                                                        Белоруссия
                                                    </label>
                                                </div>
                                                <div class="check filter__item-check">
                                                    <input type="checkbox" id="inp__check833" name="tag[12][]" value="833"
                                                           class="check-inp filter__item-check__inp"/>
                                                    <label for="inp__check833" class="check-label filter__item-check__label">
                                                        Республика Корея
                                                    </label>
                                                </div>
                                                <div class="check filter__item-check">
                                                    <input type="checkbox" id="inp__check896" name="tag[12][]" value="896"
                                                           class="check-inp filter__item-check__inp"/>
                                                    <label for="inp__check896" class="check-label filter__item-check__label">
                                                        Россия
                                                    </label>
                                                </div>
                                                <div class="check filter__item-check">
                                                    <input type="checkbox" id="inp__check958" name="tag[12][]" value="958"
                                                           class="check-inp filter__item-check__inp"/>
                                                    <label for="inp__check958" class="check-label filter__item-check__label">
                                                        Швейцария
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="16"/>
                                        <div class="filter__item-title toggle-title">Формат</div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="format">
                                                {% for format in formats %}
                                                    <div class="check filter__item-check">
                                                        <input 
                                                            type="checkbox"
                                                            id="{{ format.slug }}-{{ format.id }}"
                                                            data-filter-type="format"
                                                            data-filter-name="{{ format.slug }}"
                                                            name="{{ format.slug }}-{{ format.id }}"
                                                            value="{{ format.name }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if format.slug in request.GET|get_list:'format' %}checked{% endif %}
                                                        />
                                                        <label
                                                            for="{{ format.slug }}-{{ format.id }}"
                                                            class="check-label filter__item-check__label">
                                                            {{ format.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="102"/>
                                        <div class="filter__item-title toggle-title">
                                            Ценовая категория
                                        </div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="priceCategory">
                                                {% for price_type in price_categories %}
                                                    <div class="check filter__item-check">
                                                        <input 
                                                            type="checkbox"
                                                            id="inp__check103"
                                                            name="tag[102][]"
                                                            value="{{price_type.name}}"
                                                            data-filter-type="price_category"
                                                            data-filter-name="{{ price_type.slug }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if price_type.slug in request.GET|get_list:'price_category' %}checked{% endif %}
                                                        />
                                                        <label for="inp__check103" class="check-label filter__item-check__label">
                                                            {{ price_type.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="107"/>
                                        <div class="filter__item-title toggle-title">
                                            Назначение
                                        </div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="prescriptions">
                                                {% for prescription in prescriptions %}
                                                    <div class="check filter__item-check">
                                                        <input
                                                            type="checkbox"
                                                            id="{{ prescription.slug }}-{{ prescription.id }}"
                                                            name="{{ prescription.slug }}-{{ prescription.id }}"
                                                            value="{{ prescription.name }}"
                                                            data-filter-type="prescription"
                                                            data-filter-name="{{ prescription.slug }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if prescription.slug in request.GET|get_list:'prescription' %}checked{% endif %}
                                                        />
                                                        <label for="{{ prescription.slug }}-{{ prescription.id }}"
                                                               class="check-label filter__item-check__label">
                                                            {{ prescription.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="150"/>
                                        <div class="filter__item-title toggle-title">
                                            Ключевые активы
                                        </div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="sortedKeyAssets">
                                                {% for key_asset in key_assets %}
                                                    <div class="check filter__item-check">
                                                        <input
                                                            type="checkbox"
                                                            id="{{ key_asset.slug }}-{{ key_asset.id }}"
                                                            name="{{ key_asset.slug }}-{{ key_asset.id }}"
                                                            data-filter-type="key_asset"
                                                            data-filter-name="{{ key_asset.slug }}"
                                                            value="{{ key_asset.name }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if key_asset.slug in request.GET|get_list:'key_asset' %}checked{% endif %}
                                                        />
                                                        <label for="{{ key_asset.slug }}-{{ key_asset.id }}"
                                                               class="check-label filter__item-check__label">
                                                            {{ key_asset.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="210"/>
                                        <div class="filter__item-title toggle-title">
                                            Ключевое действие
                                        </div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="keyActions">
                                                {% for key_action in key_actions %}
                                                    <div class="check filter__item-check">
                                                        <input
                                                            type="checkbox"
                                                            id="{{ key_action.slug }}-{{ key_action.id }}"
                                                            name="{{ key_action.slug }}-{{ key_action.id }}"
                                                            value="{{ key_action.name }}"
                                                            data-filter-type="key_action"
                                                            data-filter-name="{{ key_action.slug }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if key_action.slug in request.GET|get_list:'key_action' %}checked{% endif %}
                                                        />
                                                        <label for="{{ key_action.slug }}-{{ key_action.id }}"
                                                               class="check-label filter__item-check__label">
                                                            {{ key_action.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="250"/>
                                        <div class="filter__item-title toggle-title">Пол</div>
                                        <div class="toggle-body">
                                            <div class="filter__item-wrap" id="sex">
                                                {% for i in sex %}
                                                    <div class="check filter__item-check">
                                                        <input
                                                            type="checkbox"
                                                            id="{{ i.slug }}-{{ i.id }}"
                                                            name="{{ i.slug }}-{{ i.id }}"
                                                            value="{{ i.name }}"
                                                            data-filter-type="sex"
                                                            data-filter-name="{{ i.slug }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if i.slug in request.GET|get_list:'sex' %}checked{% endif %}
                                                        />
                                                        <label for="{{ i.slug }}-{{ i.id }}"
                                                               class="check-label filter__item-check__label">
                                                            {{ i.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter__item toggle">
                                        <input type="hidden" name="tags[]" value="255"/>
                                        <div class="filter__item-title toggle-title">
                                            Рекомендации по возрасту
                                        </div>
                                        <div class="toggle-body">
                                                <div class="filter__item-wrap" id="ageRecommendation">
                                                    {% for age in age_recommendation %}
                                                    <div class="check filter__item-check">
                                                        <input
                                                            type="checkbox"
                                                            id="{{ age.slug }}-{{ age.id }}"
                                                            name="{{ age.slug }}-{{ age.id }}"
                                                            value="{{ age.name }}"
                                                            data-filter-type="age_recommendation"
                                                            data-filter-name="{{ age.slug }}"
                                                            class="check-inp filter__item-check__inp"
                                                            {% if age.slug in request.GET|get_list:'age_recommendation' %}checked{% endif %}
                                                        />
                                                        <label for="{{ age.slug }}-{{ age.id }}"
                                                               class="check-label filter__item-check__label">
                                                            {{ age.name }}
                                                        </label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="filter__item">
                                        <div class="filter-form__tags">
                                            <div class="filter__item-title">Теги</div>
                                            <div class="select-block">
                                                <div class="select-block__top">
                                                    <input id="search-input" type="text" class="filter-form__tags-input"/>
                                                </div>
                                                <div class="select-block__toggle" id="search-results"></div>
                                                <!-- <div
                                                  class="select-block__toggle select-block__toggle--active"
                                                >
                                                  Введите текс для поиска
                                                </div> -->
                                            </div>

                                            <div class="tags_line flex align-items-center"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xxl-9">
                        <div class="row">
                            <div class="col-xxl-3">
                                <div class="label--light mb-1">Сортировка по</div>
                                <select class="select--regular mb-3" id="sortedBy" style="height: 42px; font-size: 18px; border-right: 16px solid transparent;">
                                    {% for option in sortings_by %}
                                        <option
                                            value="{{option.value}}"
                                            {% if request.GET.sort_by == option.value %} selected {% endif %}
                                        >
                                            {{option.text}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="catalog mb-3 mb-md-4">
                            <div class="col-12">
                                <div class="row catalog__list catalog__list--full" id="products-container">
                                    {% for product in products %}
                                        <a href="{{product.get_absolute_url}}" class="col-6 col-md-2 catalog__item">
                                            <button class="favorite favorite--product"></button>
                                            <img src="{% if product.thumbnail %} {{ product.thumbnail.url }} {% endif %}" alt="" class="catalog__img"/>
                                            <div class="catalog__rating rating">
                                                <div class="rating__body">
                                                    <div class="rating__active" style="width: {{ product.rating_int }}%"></div>
                                                </div>
                                            </div>
                                            <p>{{ product.name }}</p>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if page_obj.has_other_pages %}
                            <div class="d-flex justify-content-center mt-4 mt-md-5">
                                <ul class="pagination">
                                    <li class="page-item">
                                        {% if page_obj.has_previous %}
                                            <a class="page-link" style="cursor: pointer;" onclick="addQueryParam('page={{ page_obj.previous_page_number }}', 'pagination')"
                                            aria-label="Previous">
                                                <span aria-hidden="true">〈</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <li class="page-item active">
                                                <a class="page-link" style="cursor: pointer;" onclick="addQueryParam('page={{ num }}', 'pagination')">{{ num }}</a>
                                            </li>
                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                            <li class="page-item">
                                                <a class="page-link" style="cursor: pointer;" onclick="addQueryParam('page={{ num }}', 'pagination')">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <li class="page-item">
                                        {% if page_obj.has_next %}
                                            <a class="page-link" style="cursor: pointer;" onclick="addQueryParam('page={{ page_obj.next_page_number }}', 'pagination')"
                                            aria-label="Previous">
                                                <span aria-hidden="true">〉</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/filters.js" %}"></script>
    <script>
        const allFilters = document.querySelectorAll('.check.filter__item-check');

        // Сортировка по
        const sortedBy = document.getElementById('sortedBy');
        sortedBy.addEventListener('change', (e) => {
            addQueryParam(`sort_by=${sortedBy.value}`, 'sorted');
        })

        // Add Query Parameters
        function addQueryParam(href, type) {
            let splitHref = href.split('=');
            let url = new URL(location.href);
            let queryString = url.search;
            let searchParams = new URLSearchParams(queryString);
            
            if (splitHref[0] && splitHref[1]) {
                if (type === 'pagination' || type === 'sorted') {
                    searchParams.set(splitHref[0], splitHref[1])
                } else {
                    searchParams.append(splitHref[0], splitHref[1])
                    // Delete Page Param
                    searchParams.delete('page', searchParams.get('page'));
                }
            }
            location.search = searchParams;
        }

        // Delete Query Parameter
        function removeQueryParam(href) {
            let splitHref = href.split('=');
            let url = new URL(location.href);
            let queryString = url.search;
            let searchParams = new URLSearchParams(queryString);
            if (splitHref[0] && splitHref[1]) {
                searchParams.delete(splitHref[0], splitHref[1]);
            }
            // Delete Page Param
            searchParams.delete('page', searchParams.get('page'));
            location.search = searchParams;
        }
        // Подготовка данных
        allFilters.forEach(el => {
            let element = el.querySelector('input');
            element.addEventListener('change', (e) => {
                let slug = element.dataset.filterName;
                let filter = element.dataset.filterType;

                if (e.currentTarget.checked) {
                    let href = `${filter}=${slug}`
                    addQueryParam(href, 'filter');
                } else {
                    let href = `${filter}=${slug}`;
                    removeQueryParam(href);
                }
            })
        })
    </script>

    <script>
        // Теги
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById("search-results");

        // Получения Тегов по Слову
        function getTagsByWord(word) {
            $.ajax({
                url: `/product/{{category.slug}}/${word}`,
                type: 'get',
                dataType: 'html',
                success: function(response) {
                    $('#search-results').html(response);

                    const tags = document.querySelectorAll('.select-block__item');
                    tags.forEach(el => {
                        let element = el.querySelector('input');
                        element.addEventListener('click', (e) => {
                            addQueryParam(`tag=${element.value}`, 'sorted');
                            searchResults.classList.remove("select-block__toggle--active");
                        })
                    })
                }
            })
        }

        searchInput.addEventListener('input', () => {
            const word = searchInput.value;
            getTagsByWord(word);
        })

        searchInput.addEventListener("focus", function () {
            searchResults.classList.add("select-block__toggle--active");
        });
    </script>
{% endblock %}
